<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「タスクを管理し案件を逃さない」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      タスクを管理し案件を逃さない
    </h2>
    <p class='service-explain'>
      TaskLinkで上司と部下を繋ぐ
    </p>
    <p class='service-explain'>
      タスク管理ツールです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
      <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# 画面上部の「タスクを管理し案件を逃さない」帯部分 %>

  <%# プロジェクト一覧 %>
  <div class='item-contents'>
    <h2 class='title'>プロジェクト一覧</h2>
    <ul class='item-lists'>

      <%# <% if @items.present? %>
        <%# <% @items.each do |item| %>
          <%# <li class='list'>
            <%# <%= link_to item_path(item.id) do %>
              <%# <div class='item-img-content'>
                <%# <%= image_tag item.image, class: "item-img" %>

                <%# <% if item.sold_out? %>
                  <%# <div class='sold-out'>
                    <%# <span>Sold Out!!</span>
                  <%# </div>
                <%# <% end %>

              <%# </div>
              <%# <div class='item-info'>
                <%# <h3 class='item-name'>
                  <%# <%= item.item_name %>
                <%# </h3>
                <%# <div class='item-price'>
                  <%# <span><%= number_with_delimiter(item.price, delimiter: ",") 円<br><%= item.charge_load.name </span>
                  <%# <div class='star-btn'>
                    <%# <%= image_tag "star.png", class:"star-icon" %>
                    <%# <span class='star-count'>0</span>
                  <%# </div>
                <%# </div>
              <%# </div>
           <%# <% end %>
          <%# </li>
        <%# <% end %>

     <%# <% else %>
        <li class='list'>
          <%= link_to '#' do %>
            <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
              <div class='item-info'>
                <h3 class='item-name'>
                  商品を出品してね！
                </h3>
                <div class='item-price'>
                  <span>99999999円<br>(税込み)</span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
          <% end %>
        </li>
      <%# <% end %>

    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%# <%= link_to(new_item_path, class: 'purchase-btn') do %>
  <%# <span class='purchase-btn-text'>出品する</span>
  <%# <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<%# <% end %>
<%= render "shared/footer" %>